/* Define colors */
/* Anchor color */
a:hover,
a:focus {
  color: #B365D3;
}
/* Header */
.header {
  border-top-color: #B365D3;
}
.header--borders:before,
.header--borders:after {
  background-color: #B365D3;
}
.header--transparent .header__logo-link {
  background-color: #B365D3;
}
.header--transparent .header__logo-link:hover,
.header--transparent .header__logo-link:focus {
  color: #B365D3;
}
/* Menu */
.main-nav .menu-item-has-children > .dropdown-nav__link {
  border-bottom-color: #B365D3;
}
.main-nav .menu-item-has-children > .dropdown-nav__link:focus {
  border-color: #B365D3;
}
.dropdown-nav {
  background-color: #B365D3;
}
.dropdown-nav__toggle {
  background-color: #B365D3;
  border-color: #B365D3;
}
.dropdown-nav__toggle:hover {
  border-color: #B365D3;
}
.dropdown-nav__toggle:hover span {
  background: #B365D3;
}
.dropdown-nav__toggle:hover span:after,
.dropdown-nav__toggle:hover span:before {
  background: #B365D3;
}
.dropdown-nav__toggle:focus:hover span {
  background: #B365D3;
}
.dropdown-nav__toggle:focus:hover span:after,
.dropdown-nav__toggle:focus:hover span:before {
  background: #B365D3;
}
/* Footer */
.footer:after {
  background-color: #B365D3;
}
.footer__copyright a:hover,
.footer__copyright a:focus {
  color: #B365D3;
}
/* Logo */
.btn--logo {
  border-color: #B365D3;
  color: #B365D3;
}
.btn--logo:hover,
.btn--logo:focus {
  background-color: #B365D3;
}
/* Read more */
.btn--more-posts {
  border-color: #B365D3;
  color: #B365D3;
}
.btn--more-posts:hover,
.btn--more-posts:focus {
  background-color: #B365D3;
}
/* Anchor color */
.post-item a {
  color: #B365D3;
}
.post-item a:hover,
.post-item a:focus {
  border-bottom-color: #B365D3;
}
/* Comments button */
.fixed-footer__btn--red {
  background: #B365D3;
}
.fixed-footer__btn--red:hover,
.fixed-footer__btn--red:focus {
  background: #bd79d9;
}
/* Comments submit button */
.form-submit .submit {
  background-color: #B365D3;
}
/* Title hover */
.post-list .post-item__title a:hover,
.post-list .post-item__title a:focus {
  color: #B365D3;
}
/* Older/newer buttons */
.post-list-nav__prev a,
.post-list-nav__next a {
  background-color: #B365D3;
}
.post-list-nav__prev a:hover,
.post-list-nav__next a:hover,
.post-list-nav__prev a:focus,
.post-list-nav__next a:focus {
  background-color: #a549cb;
}
/* Anchor color */
.error-message a {
  color: #B365D3;
}
.error-message a:hover,
.error-message a:focus {
  border-bottom-color: #B365D3;
}
/* ----- Widgets ----- */
/* Anchor color */
.widget a:hover,
.widget a:focus {
  color: #B365D3;
}
/* Search button */
.search-form__button {
  background: #B365D3;
}
.search-form__button:hover,
.search-form__button:focus {
  background-color: #a549cb;
}
/* ----- Post formats ----- */
/* Audio */
.mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #B365D3 !important;
}
/* Gallery arrows */
.gallery-slider .slick-arrow:before {
  background-color: #B365D3;
}
/* Blog post pagination */
.pagination li a {
  background-color: #B365D3;
}
.pagination li a:hover,
.pagination li a:focus {
  background-color: #bd79d9;
}
.pagination .current {
  background-color: #ab55ce;
}
/* Password protected button */
.post-password-form input[type="submit"] {
  background-color: #B365D3;
}
.post-password-form input[type="submit"]:hover,
.post-password-form input[type="submit"]:focus {
  background-color: #a549cb;
}
